* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    height: 150px;
    width: 30%;
    margin-top: 50px;
    margin-left: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.icon {
    background-color: lightblue;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-2 {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}