* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-1 {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0, 20px;
    height: 50px;
}

.left-top-bar ul,
.right-top-bar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.right-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.container-2 {
    background-color: lightblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 230px;
}

.image-holder {
    width: 100px;
    height: 100px;
}

.container-3 {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.left-bottom-bar ul,
.right-bottom-bar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.right-bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}