
.number1{
    background-color: red;
    color: black;
    margin: 10px;
}

#number2{
    background-color: white;
    color: blue;
    font-size: 32px;
    margin: 10px;
}

.number3{
    background-color: red;
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#number4{
    background-color: green;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.number5{
    background-color: red;
    color: black;
    font-size: 18px;
}