
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-height: 1000px;
}

.info1, .info2, .info3, .info4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 5px;
    flex: 1;
}