
.choice1{
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.choice2{
    background-color: yellow;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
}