* {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
}

.one, .two, .three{
    background-color: lightblue;
}
.one{
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 10px;
    margin: 2.5%;
}

.two{
    padding-bottom: 10px;
    margin: 2.5%;
}

.three{
    text-align: center;
    margin: 2.5%;
}