*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: grey;
}

.main-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.container-1 {
    background-color: blueviolet;
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.side-bar {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    padding-left: 10px;
    padding-top: 10px;
}

.side-bar ul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    gap: 15px;
    width: 100%;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.card-1 {
  height: 300px;
  border: 2px solid black;
  padding: 15px;
  width: 300px;
}


.container-3 {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}