* {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

.div1{
    background-color: lightcoral;
    color: black;
    border: 5px solid blue;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    padding: 32px;
    text-align: left;
    height: 100px;
}

.div2{
    background-color: lightskyblue;
    border: 5px solid purple;
    color: black;
    text-align: left;
}

.div3{
    background-color: lightsalmon;
    border: 5px solid red;
    color: black;
    padding: 20px;
    text-align: left;
    width: 40%;
    float: right;
    margin-top: 50px;
}